{
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "json"
  ],
  "extends": [
    "eslint-config-airbnb"
  ],
  "rules": {
    "no-param-reassign": ["error", {
      "props": false
    }]
  }
}
